<link rel="stylesheet" href="/css/account.css">

<div id="account-page">
    <div class="account-container">
        <div class="account-header">
            <h1>Welcome <%= userAccount.name%></h1>
            <p>View your bookings and account details here</p>
        </div>
        <section class="profile">
            <div class="account-info">
                <div class="account-item">
                    <label>Email:</label>
                    <span><%= userAccount.email %></span>
                </div>
                <div class="account-item">
                    <label>Name:</label>
                    <span><%= userAccount.name %></span>
                </div>
            </div>
        </section>
        <section class="account-bookings">
            <h1>Current Bookings</h1>
            <table border = "1">
                <thead>
                    <tr>
                        <th>Date In</th>
                        <th>Date Out</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <% userBookings.forEach(booking => { %>
                        <tr>
                            <td><%= booking.dateIN %></td>
                            <td><%= booking.dateOUT %></td>
                            <td>
                                <!--Formats type vairable and turns into words-->
                                <% 
                                    let typeText = booking.type === 0 ? 'Education' : 
                                                booking.type === 1 ? 'Building' :
                                                'Other';
                                %>
                                <%= typeText %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </div>
</div>
