
<!--
    BOOKING CONFIRM PAGE

    Used to show the confirmation of the booking
    
-->

<link rel="stylesheet" href="/css/booking-confirm.css">

<div id="confirm">
    <div class="confirmation-container">
        <img src="/img/thanks.jpg" alt="Thank You Image" class="center-image">
        <h1>Booking Confirmed!</h1>
        <p>Thank you for helping out the children and people of Pu Nagol!</p>
        <p>A confirmation email has been sent to <%= userEmail %></p>
        <div class="booking-details">
            <h2>Booking Details</h2>
            <p>User Email: <%= userEmail %></p>
            <p>Volunteer Type: <%= type%></p>
            <p>Start Date: <%= startDate %></p>
            <p>End Date: <%= endDate %></p>
        </div>
        

    </div>
</div>
